@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');

*{
    margin: 0;
    padding: 0;
}



.topo-container{
    background-color: black;
    border-bottom:  2px solid rgb(8, 185, 117);
    font-family: 'Poppins', sans-serif;
    padding: 10px;
}

h2{
    color: rgb(8, 185, 117);
    font-size: 36px;
}
.topo-conteudo{
    display: flex;
    justify-content: space-around;
}


.topo-links{
    display: inline-block;
    margin: 10px;
    font-size:  20px;
    
}

a{
    margin: 10px;
    text-decoration: none;
    color: rgb(8, 185, 117);;
}